*{
	margin:0;
	padding:10px 10px; 
	color:#999;
	box-sizing:border-box;
}
body{
    background: #abc;
	div{
		width:100px;
		height:100px;
		line-height: 50vh;
	    font-size: 20rem;
		text-align: center;
	}
}